.main-logo-link {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-right: 93px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.logo-web-blue {
  color: #2196f3;
  display: inline-block;
}

.footer-content .main-logo-link {
  margin-right: 0;
  color: var(--main-white);
}
