/* ------------- Modal window --------------*/

/* ---------- початковий стан Backdrop-y ---------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity var(--anim-slow), visibility var(--anim-slow);

  /* для наглядності властивості за змовчуванням */
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/* кінцевий стан */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ---------- початковий стан Modal Window ---------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--main-white);
  border-radius: 4px;

  transition: transform var(--anim-fast) 400ms, opacity var(--anim-fast) 400ms;
}

/* кінцевий стан */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

/* ---------- Close Button ---------- */
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--main-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-blue);
  }
}

/* ---------- Modal Forms ---------- */

.modal-header {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-black);
}

.modal-form-list {
  /* outline: solid 1px tomato; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  row-gap: 10px;
}

.modal-form-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-gray);

  margin-bottom: 4px;
}

.modal-form__input {
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--main-blue);
    & + .modal__icon,
    & + .modal__icon {
      fill: var(--main-blue);
    }
  }
}

.modal__comments {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: var(--main-blue);
  }
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 29px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-blue);
  }
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  user-select: none;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-icon-unchecked {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .checkbox-icon .checkbox-icon-unchecked {
  opacity: 0;
}

.checkbox-icon-checked {
  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .checkbox-icon .checkbox-icon-checked {
  opacity: 1;
}

.modal-checkbox label {
  font-size: 14px;
  line-height: 1.75;

  letter-spacing: 0.03em;

  color: #757575;
  cursor: pointer;
}

.modal-checkbox-link {
  display: inline;
  color: var(--main-blue);
  font-weight: 400;
  text-decoration: underline;
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
}
