:root {
  /* ----Colors ---- */
  --main-white: #fff;
  --main-black: #212121;
  --main-blue: #2196f3;
  --main-bg: #2f303a;
  --main-gray: #757575;
  --white-60: rgba(255, 255, 255, 0.6);
  --single-button-bg: #f5f4fa;
  --projects-list-li-border-color: #eeeeee;
  --header-border-color: #ececec;
  --feature-item-icon-bg: #f5f4fa;
  --customers-border: 1px solid #afb1b8;
  --customers-icon-color: #afb1b8;
  --social-media-bg-color: rgba(255, 255, 255, 0.1);

  /* ---- Visual Effects ---- */

  --anim-fast: 300ms ease;
  --anim-slow: 600ms ease-in;
}
